*{
    box-sizing: border-box;
}

body{
    font-family: "Verdana", sans-serif; 
}

/* index.html */
.site-title{
    font-size: 32px;
    font-weight: bold;
    border-bottom: solid 1px #00000040;
}
.site-content{
    width: max-content;
    list-style: none;
}

.site-content__item + .site-content__item{
    margin-top: 1em;
}

.site-content__item > a{
    display: block;
    padding: 0.5em;
    background-color: purple;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    border: solid 1px purple;
    text-decoration: none;
}
.site-content__item > a:hover{
    background-color: white;
    color: purple;
}


/* recipes */
main{
    max-width: 1240px;
    padding: 0 20px;
}
section{
    border-bottom: solid 1px #00000020;
}
.recipe-title{
    font-size: 32px;
    border-bottom: solid 1px #00000040;
}

.recipe-heading{
    font-size: 24px;
}
.recipe-heading::before{
    content: "";
    width: 4px;
    height: 18px;
    background-color: purple;
    display: inline-block;
    margin-right: 0.5em;
}

.button{
    display: block;
    width: fit-content;
    padding: 0.5em;
    background-color: purple;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    border: solid 1px purple;
    text-decoration: none;
}
.button:hover{
    background-color: white;
    color: purple;
}
.mt-4{
    margin-top: 2rem;
}